.contact {
    background-color: black;
 
    padding: 10rem 0;
    color: white;
}

.contact_banner{
    overflow: hidden;

   
}

.about_left_content_text{
    transform: translateY(100%);
}
.about_left_content_text_active{
    transform: translateY(0%);
    transition: all 1s ease;
}

.heading{
    position: fixed;
    top: 5rem;
    right: 5rem;
    color: white;
}
.heading a {
    align-items: center;
    display: flex;
}
.heading a img {
    margin-right: .5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact_body {
    margin-top: 15rem;
}

.contact_body h5{
    margin-bottom: 3rem;
}

.contact_body p{
    margin: 1rem 0;
    font-size: 1.2rem;
}

.contact_links {
    display: flex;
    flex-direction: column;
}

.contact_links a {
    color: red;
    text-decoration: none;
    margin: 1rem 0;
    font-size: 1.5rem;
     transition: all .5s ease;
}
.contact_links a:hover {
 padding-left: 1rem;
 transition: all 1s ease;
}

.footer {
    width: 100%;
    display: flex;
   
    color: white;
}

.footer_content {
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

.to_work{
    animation: bouncing 1.1s ease-in-out infinite;
}

@keyframes bouncing {
  0%{
    transform: translateY(0px);
  }
50%{
  transform: translateY(12px);
}
  100%{
    transform: translateY(0px);
  }
}


@media(max-width: 1200px){

}
@media(max-width: 992px){
 

}
@media(max-width: 720px){
  
}
@media(max-width: 560px){
 
.contact_heading{
    font-size: 5rem !important;
}
.heading{
    top: 2rem;
    right: 2rem;
}
.contact {
    padding: 5rem 0 10rem 0;
}
}
@media(max-width: 380px){
 

.contact_heading{
    font-size: 4rem !important;
}
}