.home {
  background-color: black;
  height: 100vh;
  width: 100%;
}
.home p{
  color: rgb(255, 255, 255);
}

.my_container {
  height: 100%;
}
.left_content {
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home h1 {
  color: white;
  font-size: 8rem;
  margin: 0rem;
 
}


.hello {
  color: white;
  overflow: hidden;
}



.about {
font-size: .1px;
transform: translateY(100%);
}
.about_active {

transform: translateX(0%);
font-size: 8rem;
color: white;
transition: transform 1s ease;
font-weight: 700;
}
.hello_active{
  overflow: hidden;
}
.hello_active h1 {
  color: white;
  font-size: 8rem;
  margin: 0rem;
  display: none;
  overflow: hidden;
}

.tap{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 3rem;
}
.tap p{
  cursor: pointer;
  animation: bouncing 1.1s ease-in-out infinite;
}

.left_content div:hover{
  transition: all 1s ease;
padding-left: 2rem;
color: red;
}
@keyframes bouncing {
  0%{
    transform: translateY(0px);
  }
50%{
  transform: translateY(12px);
}
  100%{
    transform: translateY(0px);
  }
}


@media(max-width: 1200px){

}
@media(max-width: 992px){
 
.home h1 {
  color: white;
  font-size: 7rem;
  margin: 0rem;
 
}
.about_active {
font-size: 7rem;
}
}
@media(max-width: 720px){
  .home h1 {
  color: white;
  font-size: 6rem;
  margin: 0rem;
 
}
.about_active {
font-size: 6rem;
}
}
@media(max-width: 560px){
  .home h1 {
  color: white;
  font-size: 5rem;
  margin: 0rem;
 
}
.about_active {
font-size: 5rem;
}
}
@media(max-width: 380px){
  .home h1 {
  color: white;
  font-size: 4rem;
  margin: 0rem;
 
}
.about_active {
font-size: 4rem;
}
}